:root{
    --bgBlack: #1d1d1d;
    --bgWhite: #fff;
    --colorBlack: #fff;
    --colorWhite: #000;
    --hdBgBlack: #181818;
    --hdColorBlack: #909096;
    --hdBgWhite: #b3b3b3;
    --hdColorWhite: #888888;
    --details: #3fdee4;
    --details2: #39c2c7;
    --details3: #004050;
    --details4: #650094;
    --details5: #1e002c;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #1d1d1d;
    background-color: var(--bgBlack);
    color: #fff;
    color: var(--colorBlack);
}

p{
    font-family: monospace;
    font-size: 1rem;
}

/* HEADER */
header{
    background-color: #181818;
    background-color: var(--hdBgBlack);
    color: #909096;
    color: var(--hdColorBlack);
    width: 70px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all .2s ease;
}

nav{
    width: 100%;
}

ul {
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}

.active{
    color: #3fdee4;
    color: var(--details);
}

.active div, .header__menu a div.active{
    color: #3fdee4;
    color: var(--details);
}

.active span{
    color: #3fdee4;
    color: var(--details);
}

header span, header i{
    transition: all .2s;
}

.header__bars span:hover, header i:hover{
    transition: all .2s;
    color: #3fdee4;
    color: var(--details);
}

.header__complete{
    width: 150px;
    transition: all .2s ease;
}

.header__bars{
    text-align: center;
    margin: 20px auto;
    flex-grow: 1;
    color: #650094;
    color: var(--details4)
}


.header__logo{
    text-align: center;
    flex-grow: 1;
}

.header__logo img{
    display: block;
}

.header__menu{
    text-align: center;
    margin-top: 10px;
    padding-top: 50px;
    flex-grow: 6;
    height: auto;
    border-top: 1px solid #650094;
    border-top: 1px solid var(--details4);
    border-bottom: 1px solid #650094;
    border-bottom: 1px solid var(--details4);
}

.header__menu p{
    margin-left: 5px;
}

.header__menu p.d-none{
    display: none;
}

.header__menu a{
    display: block;
    color: #650094;
    color: var(--details4);
    margin: 30px auto;
    text-decoration: none;
    height: 25px;
}

.header__menu a div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__menu a div:hover{
    transition: all .2s ease;
    color: #3fdee4;
    color: var(--details);
}

.header__social{
    text-align: center;
    flex-grow: 2;
    padding: 10px;
}

.header__social div{
    font-size: 20px;
    margin: 10px auto;
}

.btn-up{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #650094;
    background-color: var(--details4);
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-up a{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.btn-up a:hover, .btn-up:hover{
    background-color: #3fdee4;
    background-color: var(--details);
    color: #000;
}

.btn-up span{
    width: 24px;
}

/* MAIN */
main{
    margin: 100px 160px;
    margin-top: 0;
    transition: all .2s ease;
}

.main__min{
    margin-left: 250px;
    transition: all .2s ease;
}

/* FOOTER */
footer{
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 50px;
    transition: all .2s ease;
}

/* HOME */
.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home h1{
    font-weight: 900;
    font-size: 5rem;
    margin: 0;
}

.home h3{
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
}

.home p{
    width: 50%;
}

.home a{
    display: block;
}

.home a button{
    padding: 10px;
    width: 150px;
    margin-top: 20px;
    background-color: #3fdee4;
    background-color: var(--details);
    border: 2px solid #39c2c7;
    border: 2px solid var(--details2);
    color: #004050;
    color: var(--details3);
}

/* ABOUT ME */
.me{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.me__text{
    width: 45%;
}

.me__text h2{
    font-weight: 800;
    font-size: 4rem;
}

.me h3{
    font-size: 2rem;
}

.me__text h3{
    margin-top: 50px;
}

.me__info{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3fdee4;
    background-color: var(--details);
}

/* WORK */
.work{
    height: 100vh;
    width: 100%;
}

.work h2{
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 10px;
}

.work p{
    margin-top: 0;
    margin-bottom: 50px;
}

.grid-work{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 0;
    gap: 0;
}

.works{
    position: relative;
    width: 100%;
    height: 100%;
}

.works img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.works::after{
    content: "";
    background-color: #000;
    transition: all .2s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.works:hover::after{
    opacity: .7;
}

.grid__texts{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
}

.grid__texts h5{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.grid__texts p{
    margin-top: 0;
    margin-bottom: 0;
}


/* CONTACT */
.contact{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.contact__form h2{
    margin-top: 0;
}

.contact__map{
    width: 45%;
    background-color: #3fdee4;
    background-color: var(--details);
}

.contact h2{
    font-weight: 800;
    font-size: 4rem;
}

form{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

form input, textarea{
    font-family: monospace;
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    color: var(--colorBlack);
}

form input:focus, textarea:focus{
    outline: none;
}

.form__name{
    grid-row: 1/2;
    grid-column: 1/2;
    margin-right: 5px;
    background-color: #181818;
    background-color: var(--hdBgBlack);
}

.form__email{
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #181818;
    background-color: var(--hdBgBlack);
}

.form__subject{
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: #181818;
    background-color: var(--hdBgBlack);
}

.form__message{
    grid-row: 3/4;
    grid-column: 1/3;
    background-color: #181818;
    background-color: var(--hdBgBlack);
}

.form__submit{
    width: 40%;
    margin: auto auto;
    grid-row: 4/5;
    grid-column: 1/3;
    margin-top: 50px;
    background-color: #3fdee4;
    background-color: var(--details);
    border: 2px solid #39c2c7;
    border: 2px solid var(--details2);
    color: #004050;
    color: var(--details3);
}

.home__box button:hover, .form__submit:hover{
    background-color: #650094;
    background-color: var(--details4);
    color: #1e002c;
    color: var(--details5);
    border: 1px solid #1e002c;
    border: 1px solid var(--details5);
}

/* FOOTER */


/* RESPONSIVE */